@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

$background-color: #080B24;
$text-color: #ffffffff;
$accent-color: #ff659fff;

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: $text-color;
}

html {
    background: url(assets/images/bg.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    background-color: $background-color;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

main {
    height: 100vh;
    position: relative;
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: $background-color;
    display: flex;
    align-items: center;
    &--logo {
        font-size: 2rem;
        font-weight: 700;
        color: $accent-color;
        margin-right: 1rem;
        &:hover {
            color: rgb(255, 64, 137) !important;
        }
    }
    & a {
        display: block;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;

        &:hover {
            color: $accent-color;
        }
    }
}

.content {

    display: flex;
    flex-direction: column;
    padding: 10px;
    position: relative;
    width: 100%;
    height: 100%;
}

.intro {
    height: 200px;
    width: 35%;
    left: 0;
    top: 15%;
    position: absolute;
    background: linear-gradient(90deg, rgba(8, 11, 36, 0) 0%, rgba(255, 101, 159, 0.15) 100%);
    backdrop-filter: blur(10px);

/* Note: backdrop-filter has minimal browser support */
    border-radius: 0px 12px 12px 0px;

    padding: 1rem;

    &--title {
        text-shadow: 1px 2px 1px $background-color;
    }

    &--lead {
        font-weight: 400;
    }
}

.cards {
    height: 50%;
    margin-top: auto;
    width: 100%;
    padding: 2rem;
    align-self: center;
    &--container {
        justify-content: space-evenly;
    }
}

.card {
    width: 320px;
    height: 320px;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    &--image {
        width: 100%;
        height: 80%;
        border-radius: 12px;
    }
    &--title {
        align-self: center;
    }
}

.footer {
    margin-top: auto;
    //background-color: $background-color;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    background: linear-gradient(359.78deg, rgba(255, 101, 159, 0.5) 0.19%, rgba(8, 11, 36, 0) 99.81%);

    & a {
        display: block;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;

        &:hover {
            color: $accent-color;
        }
    }
}
